# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.vs/C Game/v17/ipch/AutoPCH/6c9913920f3267d7/GAMEMAIN.ipch
.vs/C Game/v17/ipch/AutoPCH/417b655b2bdefbd/ENTRY.ipch
.vs/C Game/v17/ipch/AutoPCH/4c7165b03700fe83/GAMEMAIN.ipch
.vs/C Game/v17/ipch/AutoPCH/8287280b2b486c29/ENTRY.ipch
